* {
  font-family: 'Caveat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Parkinsans', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: linear-gradient(135deg, #ffe3f2 0%, #ffccf9 100%);
  gap: 14px;
}


header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
  padding: 14px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px; 
  margin: 0 auto; 
}

header input {
  flex: 1;
  border-radius: 20px;
  outline: none;
  padding: 14px 20px;
  border: 2px solid #ff66b2;
  transition: border-color 300ms;
  min-width: 200px; 
}

header input:focus {
  border-color: #ff3399;
}

header button {
  border-radius: 20px;
  background: #ff66b2;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  transition: background 300ms, transform 200ms;
  min-width: 100px; 
}

header button:hover {
  background: #ff3399;
  transform: scale(1.05);
}


p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
  transition: transform 200ms, box-shadow 200ms;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.todoItem p {
  flex: 1;
}
.todoItem:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition: background 300ms, transform 200ms;
  border: none;
  background: #f2049781;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.actionsContainer button:hover {
  background: #f14ab181;
  transform: scale(1.05);
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}